<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <span class="navbar-brand mb-0 h1">UW Course Map</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link {{map}}" href="/">Map</a>
            <a class="nav-item nav-link {{courses}}" href="/courses">Courses</a>
            <a class="nav-item nav-link {{plan}}" href="/plan">Plan</a>
            <a class="nav-item nav-link {{about}}" href="/about">About</a>
        </div>
    </div>
</nav>