<div class="container-fluid d-flex flex-column">
    <div class="row d-flex flex-row">
        <div class="col d-flex flex-column">
            <div class="row map-wrapper">
                <button id="center-button" class="btn btn-outline-primary">
                    Center
                </button>
                <svg id="map" width="1000" height="1000" viewBox="0 0 1000 1000" preserveAspectRatio="xMidYMid meet">
                </svg>
            </div>
        </div>
        <div id="resize"></div>
        <div id="options" class="col">
            <div id="main-panel" class="panel">
                <h2>
                    Course Map
                </h2>
                <h3>
                    Search
                </h3>
                <form onsubmit="return false">
                    <div class="form-group">
                        <input class="form-control" id="search" type="text">
                    </div>
                </form>
                <div id="search-results" class="list-group"></div>
                <h3>
                    Options
                </h3>
                <form onsubmit="return false">
                    <div class="form-group">
                        <label for="subjectsearch">Subjects</label>
                        <input class="form-control" id="subjectsearch" type="text" value="MATH">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="undergradsearch" checked> Show Undergrad
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="graduatesearch"> Show Graduate
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div id="details-panel" class="panel">
                <a class="panel-back" href="#">
                    &laquo; Back
                </a>
                <hr>
                <h2 class="course-name"></h2>
                <p class="course-code text-primary font-weight-bold"></p>
                <p class="course-description"></p>
                <p class="course-prereqs"></p>
                <p class="course-coreqs"></p>
                <p class="course-antireqs"></p>
                <p class="course-dept-consent font-italic"></p>
                <p class="course-instr-consent font-italic"></p>
                <hr>
                <a class="course-link">Calendar Link</a>
            </div>
        </div>
    </div>
</div>