<div class="container">
    <div class="row">
        <div class="col">
            <h2>
                Plan
            </h2>
            <hr>
            <h3>
                Overview
            </h3>
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Other</th>
                        <th>1A</th>
                        <th>1B</th>
                        <th>2A</th>
                        <th>2B</th>
                        <th>3A</th>
                        <th>3B</th>
                        <th>4A</th>
                        <th>4B</th>
                    </tr>
                </thead>
                <tbody id="courses">

                </tbody>
            </table>
        </div>
    </div>
</div>