<div class="container">
    <div class="row">
        <div class="col">
            <h2>
                Plan
            </h2>
            <hr>
            <h3>
                Overview
            </h3>
            <table id="plan-overview" class="table table-bordered" style="table-layout: fixed;">
                <thead class="bg-primary text-white">
                    <tr>
                        <th class="border border-primary">Other</th>
                        <th class="border border-primary">1A</th>
                        <th class="border border-primary">1B</th>
                        <th class="border border-primary">2A</th>
                        <th class="border border-primary">2B</th>
                        <th class="border border-primary">3A</th>
                        <th class="border border-primary">3B</th>
                        <th class="border border-primary">4A</th>
                        <th class="border border-primary">4B</th>
                    </tr>
                </thead>
                <tbody id="courses">

                </tbody>
            </table>
        </div>
    </div>
</div>