
$map-colors:(
    "primary": theme-color("primary"),
    "bg": gray("100"),
    "bg-light": desaturate(lighten(theme-color("primary"), 60%), 80%),
    "lines": gray("700")
);

@function map-color($key: "primary") {
    @return map-get($map-colors, $key);
}
.map-wrapper{
    overflow: hidden;
    background-color: map-color("bg");
}

line{
    stroke: map-color("lines");
    stroke-width: 0.5;
}
g{
    >g{
        >circle{
            fill: map-color("bg-light");
            stroke: map-color("lines");
        }
        text{
            fill: theme-color("light");    
        }
        &:hover{
            >circle{
                fill: theme-color("light");           
            }
            >text{
                fill: theme-color("dark");
            }
        }
    }
    
}
