@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oxygen');
$font-family-base: "Open Sans";
$headings-font-family: "Oxygen";
$theme-colors: (
    "primary": #019faa,
);

@import "node_modules/bootstrap/scss/bootstrap";

@import "map.scss";

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.container-fluid, .row, .col{
    flex: 1;
}
.navbar{
    z-index: 20;
}
.options{
    flex: none;
    width: 20vw;
    min-width: 240px;
    padding-top: 15px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3)
}
.panel{
    display: none;
}