
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.container-fluid, .row, .col{
    flex: 1;
}
.map-wrapper{
    overflow: hidden;
    background-color: #333333;
}
.options{
    flex: none;
    width: 20vw;
    min-width: 240px;
}
