@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oxygen');
$font-family-base: "Open Sans";
$headings-font-family: "Oxygen";
$theme-colors: ( "primary": #019faa,
);
@import "node_modules/bootstrap/scss/bootstrap";
@import "map.scss";

.container{
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-fluid,
.row,
.col {
    flex: 1;
}

.navbar {
    z-index: 20;
}

#options {
    flex: none;
    width: 20vw;
    max-width: calc(100vw - 40px);
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    overflow-x: hidden;
    overflow-y: auto;
}

#resize {
    cursor: col-resize;
    flex: none;
    width: 20px;
    margin: 0 -10px;
    z-index: 40;
}

.panel {
    min-width: 200px;
    display: none;
}